Repository yacosta738/kmp-template, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, applications, modules, test, source, frontend, backend, docs, config, build, infra, dependencies

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
    - '*'
# Add '@applications' label to any change within the 'apps' directory
applications:
    - 'apps/**'
# Add '@modules' label to any change within the 'libs' directory
modules:
    - 'shared/**'
# Add 'test' label to any change to a test file
test:
    - '**/*.spec.ts'
    - '**/src/test/**'

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
source:
    -   any: [ '**/src/**/*', '!**/src/docs/**/*' ]

# Add 'frontend` label to any change to *.js, *.ts or *.tsx files within the source dir
frontend:
    -   any: [ 'src/**/*.js', 'src/**/*.ts', 'src/**/*.tsx' ]

# Add 'backend` label to any change to *.java files within the source dir
backend:
    -   any: [ 'src/**/*.java', 'src/**/*.kt' ]

# Add 'docs' label to any change to *.md files within the source dir
docs:
    -   any: [ 'src/**/*.md' ]
    -   'documentation/**'
# Add 'config' label to any change to *.yml or *.properties files within the source dir
config:
    -   any: [ 'src/**/*.yml', 'src/**/*.properties' ]

# Add 'build' label to any change to *.gradle files within the source dir
build:
    -   any: [ 'src/**/*.gradle' ]

# Add 'infra' label to any change to *.yml files within the infra dir
infra:
    -   any: [ 'infra/**/*.yml' ]

# Add 'dependencies' label to any change to package.json, package-lock.json or libs.versions.toml files within the source dir
dependencies:
    -   any: [ 'src/**/package.json', 'src/**/package-lock.json', 'gradle/libs.versions.toml' ]

fix(ci): setup node cache dependency path
  .github/workflows/continuous-integration.yml
Labels: none

Update continuous-integration.yml
  .github/workflows/continuous-integration.yml
Labels: none

Update continuous-integration.yml
  .github/workflows/continuous-integration.yml
Labels: none

Notes added by 'git notes add'
  e7fe8fb9a692b9bed1e5255d013503c8e031f91d
Labels: repo

chore: Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: repo

chore: Create SECURITY.md
  SECURITY.md
Labels: repo

refactor(build-logic): change settings gradle
  build-logic/.gitignore
  build-logic/gradle.properties
  build-logic/settings.gradle.kts
Labels: none

feat(desktop): Desktop Support
  .run/androidApp 📱.run.xml
  .run/desktopApp run 🚀.run.xml
  apps/desktopApp/desktopApp.gradle.kts
  apps/desktopApp/src/main/kotlin/io/kmptemplate/desktop/main.kt
  build-logic/common/src/main/kotlin/io/kmptemplate/buildlogic/extensions.kt
  build-logic/desktop-convention/build.gradle.kts
  build-logic/desktop-convention/src/main/kotlin/io/kmptemplate/buildlogic/desktop/AppDesktopApplicationPlugin.kt
  build-logic/multiplatform-convention/src/main/kotlin/io/kmptemplate/buildlogic/multiplatform/AppMultiplatformDesktopPlugin.kt
  shared/ui/base/src/commonMain/kotlin/io/kmptemplate/ui/base/design/ApplicationTheme.kt
  shared/ui/base/src/commonMain/kotlin/io/kmptemplate/ui/base/design/colors.kt
  shared/ui/base/src/commonMain/kotlin/io/kmptemplate/ui/base/design/shapes.kt
  shared/ui/base/src/commonMain/kotlin/io/kmptemplate/ui/base/design/themes.kt
  shared/ui/main/src/androidMain/kotlin/io/kmptemplate/ui/main/DefaultPreview.kt
  shared/ui/main/src/commonMain/kotlin/io/kmptemplate/ui/main/KmpTemplateApp.kt
  shared/ui/main/src/commonMain/kotlin/io/kmptemplate/ui/main/view/GreetingView.kt
Labels: applications, modules, source

feat(ios): Configure Sentry Support
  .gitignore
  Gemfile
  Gemfile.lock
Labels: repo

refactor(analysis): Split Sentry Configuration
  apps/iosApp/Pods/Target Support Files/Pods-iosApp/Pods-iosApp.debug.xcconfig
  apps/iosApp/Pods/Target Support Files/Pods-iosApp/Pods-iosApp.release.xcconfig
  apps/iosApp/iosApp.xcodeproj/project.pbxproj
  apps/iosApp/iosApp/ContentView.swift
  build-logic/common/src/main/kotlin/io/kmptemplate/buildlogic/AppConfiguration.kt
  build-logic/multiplatform-convention/src/main/kotlin/io/kmptemplate/buildlogic/multiplatform/buildConfig.kt
  build-logic/multiplatform-convention/src/main/kotlin/io/kmptemplate/buildlogic/multiplatform/extensions.kt
  settings.gradle.kts
  shared/ui/base/base.gradle.kts
  shared/ui/base/src/androidMain/kotlin/io/kmptemplate/ui/base/sentry/SentrySetup.android.kt
  shared/ui/base/src/iosMain/kotlin/io/kmptemplate/ui/base/sentry/SentrySetup.ios.kt
  shared/ui/main/src/androidMain/kotlin/io/kmptemplate/ui/main/KmpTemplateApp.kt
Labels: repo, applications, modules, source

refactor(analysis): Split Sentry Configuration
  apps/iosApp/Pods/Manifest.lock
  shared/common/core/sharedCommonCore.podspec
  shared/domain/greeting/sharedDomainGreeting.podspec
  shared/ui/base/base.gradle.kts
  shared/ui/base/sharedUiBase.podspec
  shared/ui/main/sharedUiMain.podspec
  shared/ui/main/src/androidMain/kotlin/io/kmptemplate/ui/main/KmpTemplateApp.kt
  shared/ui/main/src/androidMain/kotlin/io/kmptemplate/ui/main/sentry/SentrySetup.android.kt
  shared/ui/main/src/commonMain/kotlin/io/kmptemplate/ui/main/sentry/SentrySetup.kt
  shared/ui/main/src/iosMain/kotlin/io/kmptemplate/ui/main/sentry/SentrySetup.ios.kt
Labels: applications, modules, source

feat(ci): add validation for gradle wrapper
  .github/workflows/continuous-integration.yml
  apps/iosApp/Pods/Target Support Files/Pods-iosApp/Pods-iosApp.debug.xcconfig
  apps/iosApp/Pods/Target Support Files/Pods-iosApp/Pods-iosApp.release.xcconfig
Labels: applications

feat(ci): android assemble debug
  .github/workflows/continuous-integration.yml
Labels: none

fix(ci): android assemble debug
  .github/workflows/continuous-integration.yml
Labels: none

fix(ci): android assemble debug
  .github/workflows/continuous-integration.yml
Labels: none

fix(ci): android assemble debug
  .github/workflows/continuous-integration.yml
Labels: none

fix(ci): android manifest
  apps/androidApp/src/main/AndroidManifest.xml
  apps/androidApp/src/main/res/xml/data_extraction_rules.xml
Labels: applications, source

fix(ci): fix issue number
  .github/workflows/continuous-integration.yml
Labels: none

fix(ci): fix issue number
  .github/workflows/continuous-integration.yml
Labels: none

fix(ci): 🟢fix issue number
  .github/workflows/continuous-integration.yml
Labels: none

fix(ci): 🟢fix issue number
  .github/workflows/continuous-integration.yml
Labels: none

fix(ci): 🟢 fix issue number for the comment action
  .github/workflows/continuous-integration.yml
Labels: none

Revert "fix(ci): 🟢 fix issue number for the comment action"
  .github/workflows/continuous-integration.yml
Labels: none

fix(ci): 🟢 fix issue number for the comment action
  .github/workflows/continuous-integration.yml
Labels: none

fix(ci): 🟢 fix issue number for the comment action
  .github/workflows/continuous-integration.yml
Labels: none

fix(ci): 🟢 fix issue number for the comment action
  .github/workflows/continuous-integration.yml
Labels: none

fix(ci): join static analysis and security analysis in the same section.
  .editorconfig
  .github/workflows/continuous-integration.yml
  apps/androidApp/androidApp.gradle.kts
  apps/androidApp/src/main/kotlin/io/kmptemplate/android/MainActivity.kt
  apps/desktopApp/desktopApp.gradle.kts
  apps/desktopApp/src/main/kotlin/io/kmptemplate/desktop/main.kt
  build-logic/analysis-convention/src/main/kotlin/io/kmptemplate/buildlogic/analysis/AppDetektPlugin.kt
  build-logic/analysis-convention/src/main/kotlin/io/kmptemplate/buildlogic/analysis/AppOwaspPlugin.kt
  build-logic/analysis-convention/src/main/kotlin/io/kmptemplate/buildlogic/analysis/AppSonarPlugin.kt
  build-logic/android-convention/src/main/kotlin/io/kmptemplate/buildlogic/android/AppAndroidApplicationPlugin.kt
  build-logic/common/src/main/kotlin/io/kmptemplate/buildlogic/AppConfiguration.kt
  build-logic/common/src/main/kotlin/io/kmptemplate/buildlogic/extensions.kt
  build-logic/documentation-convention/src/main/kotlin/io/kmptemplate/buildlogic/documentation/AppDocumentationConsumerPlugin.kt
  build-logic/documentation-convention/src/main/kotlin/io/kmptemplate/buildlogic/documentation/AppDocumentationProducerPlugin.kt
  build-logic/multiplatform-convention/src/main/kotlin/io/kmptemplate/buildlogic/multiplatform/AppMultiplatformComposePlugin.kt
  build-logic/multiplatform-convention/src/main/kotlin/io/kmptemplate/buildlogic/multiplatform/AppMultiplatformCoreExtension.kt
  build-logic/multiplatform-convention/src/main/kotlin/io/kmptemplate/buildlogic/multiplatform/AppMultiplatformDesktopExtension.kt
  build-logic/multiplatform-convention/src/main/kotlin/io/kmptemplate/buildlogic/multiplatform/AppMultiplatformDesktopPlugin.kt
  build-logic/multiplatform-convention/src/main/kotlin/io/kmptemplate/buildlogic/multiplatform/AppMultiplatformMobilePlugin.kt
  build-logic/multiplatform-convention/src/main/kotlin/io/kmptemplate/buildlogic/multiplatform/buildConfig.kt
  build-logic/multiplatform-convention/src/main/kotlin/io/kmptemplate/buildlogic/multiplatform/extensions.kt
  build.gradle.kts
  config/detekt.yml
  settings.gradle.kts
  shared/domain/greeting/src/androidMain/kotlin/io/kmptemplate/domain/AndroidPlatform.kt
  shared/domain/greeting/src/commonMain/kotlin/io/kmptemplate/domain/Greeting.kt
  shared/domain/greeting/src/iosMain/kotlin/io/kmptemplate/domain/IOSPlatform.kt
  shared/domain/greeting/src/jvmMain/kotlin/io/kmptemplate/domain/DesktopPlatform.kt
  shared/ui/base/base.gradle.kts
  shared/ui/base/src/commonMain/kotlin/io/kmptemplate/ui/base/design/ApplicationTheme.kt
  shared/ui/base/src/commonMain/kotlin/io/kmptemplate/ui/base/design/typography.kt
  shared/ui/main/src/androidMain/kotlin/io/kmptemplate/ui/main/DefaultPreview.kt
  shared/ui/main/src/androidMain/kotlin/io/kmptemplate/ui/main/KmpTemplateApp.kt
  shared/ui/main/src/androidMain/kotlin/io/kmptemplate/ui/main/di/module.kt
  shared/ui/main/src/androidMain/kotlin/io/kmptemplate/ui/main/sentry/SentrySetup.android.kt
  shared/ui/main/src/androidMain/kotlin/io/kmptemplate/ui/main/view/GreetingView.kt
  shared/ui/main/src/commonMain/kotlin/io/kmptemplate/ui/main/sentry/SentrySetup.kt
Labels: repo, applications, modules, source

fix(ci): issue number format
  .github/workflows/continuous-integration.yml
Labels: none

fix(ci): set higher value for CVSS Score
  .github/workflows/continuous-integration.yml
  build-logic/analysis-convention/src/main/kotlin/io/kmptemplate/buildlogic/analysis/AppOwaspPlugin.kt
Labels: source

build(ci): added reactions on custome comments
  .github/workflows/continuous-integration.yml
Labels: none

test(ci): added codecov support
  .github/workflows/continuous-integration.yml
  codecov.yml
Labels: repo

test(ci): emoji for jobs name
  .github/workflows/continuous-integration.yml
Labels: none

docs(core): codecov badge
  README.md
Labels: repo
